
   
    <!-- <div class="container">
      <form action="/register"  method="post">
        <h2>Register</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Secret</label>
          <input name="secret" type="text" class="form-control" id="exampleInputEmail1" >
         
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <hr>
    <div class="container">
      <form action="/login"  method="post">
        <h2>Login</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div> -->
   
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Modern Login Page | AsmrProg</title>
    </head>
    
    <body>
    
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form action="/register"  method="post">
                    <h1>Create Account</h1>
                    
                    <span>or use your email for registeration</span>
                    <input name="username" type="text" class="form-control" id="exampleInputEmail1" >
                    <input type="email" placeholder="Email">
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form>
                    <h1>Sign In</h1>
                   
                    <span>or use your email password</span>
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <a href="#">→ Forget Your Password? ←</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="login">Sign In</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>Register with your personal details to use all of site features</p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="/javascripts/script.js"></script>
    </body>
    
    </html>




  
