

<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/navigate.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/stylesheets/fontawesome.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
   
    <%- include('./partials/sidebar.ejs'); %>
    <%- include('./partials/main.ejs'); %>
    <div class="clear"></div>

    <script
      type="text/javascript"
      src="../public/script/jquery-3.2.1.min.js"
    ></script>
    <script type="text/javascript" src="../public/script/navigate.js"></script>
  </body>
</html>
